<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>default</id>
            <repositories>
                <repository>
                    <id>terahelix-spear</id>
                    <name>TeraHelix Repository</name>
                    <url>https://pkgs.dev.azure.com/terahelix/Spear/_packaging/Spear/maven/v1</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>terahelix-spear</id>
                    <name>TeraHelix Spear Repository</name>
                    <url>https://pkgs.dev.azure.com/terahelix/Spear/_packaging/Spear/maven/v1</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>

        </profile>
    </profiles>



</settings>
